# API keys and secrets
.env

# Dependency directory
node_modules

# IDE Files
.idea

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Code coverage reports
coverage
