//- Check that user is logged in, otherwise, no nav options make sense. 
if displayName
    nav.top_navbar 
        ul.nav_list
            li.nav_item
                img(src=profileImage)
            li.nav_item 
                p.profile_name Hello, #{displayName}
            li.nav_item
                a(href="/") Home
            li.nav_item
                a(href="/gallery") Gallery
            li.nav_item 
                a(href="/logout") Logout