extends layout 

block heading
    h1 New Playlist Cover

block content
    .center
        h2 Your new playlist cover:
    .center 
        img.playlist-cover(src=coverImage)
    .center.generated_buttons_container
        if displayName
            form(method="POST", action='/set-cover').set_cover
                input(name="coverImage", id="coverImage" value=`${coverImage}`)
                input(name="playlistId", id="playlistId", value=`${playlistId}`)
                button.button(type="submit") Set as playlist cover
        button.button(onClick="window.location.reload();") Regenerate  
        a.button(href="/") Back Home
    

