html
    style 
        include styles.css

body
    header
        include includes/nav.pug
        h1 New Playlist Cover
    body
        .center
            h2 Your new playlist cover:
        .center 
            img(src=coverImage)
        .center
            if displayName
                form(method="POST", action='/set-cover')
                    input(name="coverImage", id="coverImage" value=`${coverImage}`)
                    input(name="playlistId", id="playlistId", value=`${playlistId}`)
                    button.button(type="submit") Set as playlist cover
            button.button(onClick="window.location.reload();") Regenerate  
        

