html
    style 
        include styles.css

body
    header
        nav.top_navbar 
            include includes/nav.pug
        h1 Spotify Playlist Cover Generator
    body
        .center
            ol.directions
                li Enter a Spotify Playlist link or choose one of yours
                li Then press submit to generate your playlist cover
        .center
            form(action="/photo/")
            input(type="text", placeholder="Spotify Playlist", name="search")
            button(type="submit") Submit  